html {
    background: #fff;
    color: #333;
    padding-top: 30px;
    padding-bottom: 120px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
}

body {
    max-width: 600px;
    padding: 0 30px;
    margin: 0 auto;
    line-height: 100%;
    font-size: 16px;
}

h1,h2,h3,h5,h6,
ul, ol,
img,
p {
    margin-bottom: 20px;
}

p {
    line-height: 150%;
}

h1 {
    text-align: center;
}

button {
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 20px;
    color: $primary;
    line-height: 100%;
    // font-family: Courier, serif;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 34px;
}

h4 {
    font-size: 28px;
}

a {
    color: $secondary;
    text-decoration: none;

    &:hover {
        color: $primaryDark;
    }
}

b {
    font-weight: 700;
}

ol, ul {
    padding-left: 20px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    line-height: 150%;
}

input {
    padding: 8px;
}

img, embed, iframe {
    max-width: 100%;
}

code,
pre {
    background: #EFEFEF;
    padding: 2px 5px;
    color: #333;
    line-height: 150%;
}

hr {
    border: 1px solid #DDD;
}

table {
    margin-top: 50px;
    margin-bottom: 30px;

    caption {
        color: $primary;
        font-size: 24px;
        margin-bottom: 20px;
    }

    td, th {
        border: 1px solid #000;
        padding: 8px;
        line-height: 140%;
    }
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.hide {
    display: none;
}

.btn {
    background: $primary;
    color: $onPrimary;
    margin-bottom: 20px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;

    &:hover {
        background: $secondary;
        color: $onSecondary;
    }
}

.btn-md {
    font-size: 22px;
    padding: 10px 12px;
}

.alert {
    border: 1px solid $primary;
    padding: 8px;
    margin-bottom: 20px;

    p {
        margin-bottom: 0;
    }
}

.links-list {
    padding: 5px 0px;

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        margin-bottom: 5px;
    }

    a {
        color: $primaryDark;

        &:hover {
            color: $secondary;
        }

        &:before {
            content: "# ";
            color: $primary;
        }
    }
}

.section {
    padding: 0px 0 30px;

    h4 {
        margin-bottom: 20px;
    }
}

.video {
    display: none;
}

.feature {
    margin-bottom: 30px;

    ul {
        list-style: none;
    }

    h4 {
        margin-bottom: 10px;
        color: $primary;
    }

    p {
        text-align: left;
    }
}

#site-title,
#site-tagline {
    display: none;
}

#site-logo {
    img {
        display: block;
        width: 500px;
        max-width: 90%;
        margin: 0 auto 30px;
    }
}

#site-footer {
    padding-bottom: 40px;
}

.docs .section {
    padding-top: 20px;
    h2 {
        padding-bottom: 5px;
        border-bottom: 1px solid $primary;
    }

    h4 {
        padding-top: 20px;
    }

    li {
        padding-bottom: 5px;
    }
}

.newsletter {
    margin-bottom: 40px;

    input[type="email"] {
        margin-bottom: 15px;
        min-width: 200px;
    }

    input[type="submit"] {
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.github-logo {
    opacity: 0.5;
    width: 64px;
    height: 64px;
}