{% extends 'layouts/master' %}

{% block title %}404{% endblock %}

{% block content %}
    <h1>404 - Not found</h1>
    <p>
        The page you are looking for either never existed or has been deleted.</p>
    </p>
{% endblock content %}