{% extends 'layouts/master' %}

{% block content %}
    <header>
        <h1>{{ entry.title }}</h1>
        <p>Published: <time pubdate="pubdate">{{ entry.date }}</time></p>
    </header>

    {{ entry.content | raw }}

    <footer>
        {% include 'partials/taxonomies' %}
    </footer>
{% endblock content %}